.about-us {
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 5% 10%;
  font-family: 'Arial', sans-serif;
}

.about-title {
  color: #00acde;
  font-size: 2em;
  margin: 0.5em 0;
}

.about-heading {
  color: #000000;
  font-size: 3em;
  margin: 0.5em 0;
}

.about-text {
  color: #333;
  font-size: 1.25em;
  margin: 1em auto;
  max-width: 800px;
  padding: 0;
}

.about-image-wrapper {
  max-width: 800px;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.text-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 2em auto;
}

@media (min-width: 600px) {
  .about-us {
    padding: 60px 10%;
  }

  .about-text {
    font-size: 1.5em;
  }
}

@media (min-width: 768px) {
  .about-heading {
    font-size: 3.5em;
  }

  .about-text {
    font-size: 1.75em;
  }
}

@media (min-width: 1024px) {
  .about-us {
    flex-direction: column;
    align-items: center;
  }

  .about-image-wrapper {
    width: 50%;
    max-width: 700px;
    margin-top: 3em;
  }
}

@media (min-width: 1440px) {
  .about-heading {
    font-size: 4em;
  }

  .about-text {
    font-size: 2em;
  }

  .about-image-wrapper {
    max-width: 800px;
  }
}
