.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #00acde;
  color: white;
  box-sizing: border-box;
  width: 100%;
  flex-wrap: nowrap;
  font-family: 'Inter', sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.logo img {
  height: 50px;
  width: auto;
}

.navigation {
  display: flex;
  gap: 20px;
}

.navigation a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navigation a:hover,
.navigation a:focus {
  background-color: #007bbd;
  color: white;
}

.download-button {
  padding: 10px 20px;
  border: none;
  background-color: white;
  color: black;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.download-button:hover,
.download-button:focus {
  background-color: #007bbd;
  color: white;
  outline: none;
}

.download-button .star {
  color: yellow;
  margin-left: 4px;
}

.sidebar-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.navigation.show {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #00a4ef;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.navigation.show a {
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.hamburger-icon {
  display: none;
  width: 30px;
  height: 3px;
  margin: 5px 0;
  background-color: white;
  transition: all 0.3s ease;
  position: relative;
}

.hamburger-icon.open,
.hamburger-icon.open::before,
.hamburger-icon.open::after {
  background-color: transparent;
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

.hamburger-icon::before {
  top: -8px;
}

.hamburger-icon::after {
  bottom: -8px;
}

.hamburger-icon.open::before {
  transform: translateY(0) rotate(45deg);
  top: 0;
}

.hamburger-icon.open::after {
  transform: translateY(0) rotate(-45deg);
  bottom: 0;
}

.menu-logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.close-sidebar {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header,
.menu-logo-container {
  align-items: center;
}

@media (max-width: 768px) {
  .header {
    justify-content: flex-start;
    padding: 20px;
  }

  .hamburger-icon {
    display: block;
  }

  .hamburger-icon,
  .sidebar-toggle,
  .menu-logo-container {
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .header-content {
    flex-wrap: wrap;
  }

  .sidebar-toggle {
    display: block;
    padding: 0;
    background: none;
    border: none;
    color: white;
  }

  .navigation {
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
    display: none;
  }

  .navigation.show {
    transform: translateX(0);
    display: flex;
    transform: translateX(0);
    z-index: 10;
    opacity: 1;
    pointer-events: auto;
  }

  .navigation.show .close-sidebar {
    display: block;
  }

  .menu-logo-container {
    flex-grow: 1;
    justify-content: left;
  }

  .navigation.show {
    display: flex;
    transform: translateX(0);
  }

  .close-sidebar {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .download-button {
    padding: 8px 16px;
    font-size: 14px;
    margin-left: auto;
    margin-right: 10px;
  }

  .download-button,
  .sidebar-toggle,
  .logo img {
    height: 40px;
    align-self: center;
  }
}

@media (max-width: 375px) {
  .download-button {
    font-size: 12px;
    padding: 6px 12px;
  }
}
