.testimonials {
  background-color: white;
  text-align: center;
  padding: 40px;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-heading {
  margin-bottom: 40px; /* Space
  between heading and image row */
}

.heading {
  color: #00acde;
  font-size: 20px;
  font-weight: 500;
}

.heading-2 {
  color: #000000;
  font-size: 40px;
  font-weight: 400;
}

.testimonial-images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.testimonial-img {
  width: 100%; /* Responsive width */
  height: auto; /* Maintain aspect ratio */
  max-height: 400px; /* Set a max height for all images */
  object-fit: cover; /* Ensure the image covers the area without stretching */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-img-container {
    width: calc(33.333% - 40px); /* Adjust the width as needed with the gap considered */
    max-width: 300px; /* Set a maximum width for larger screens */
    display: flex;
    justify-content: center;
  }

.testimonial-quote {
  background-color: #e6f7fc;
  border-radius: 20px;
  padding: 20px;
  max-width: 300px; 
  max-height: 400px; /* Match the height with the images */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial-quote p {
  font-weight: bold;
  margin-bottom: 10px;
}

.testimonial-quote span {
  display: block;
  font-size: 0.8em;
  color: #666;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .testimonial-images {
    flex-direction: column;
  }

  .testimonial-quote {
    order: -1; /* Move the quote above the images */
  }
  .testimonial-img-container {
    width: 100%; /* Full width on smaller screens */
  }
}

/* Larger screens */
@media (min-width: 1024px) {
  .testimonial-images {
    flex-direction: row;
  }

  .testimonial-img,
  .testimonial-quote {
    flex: 1;
    max-width: 300px; /* Equal width for images and quote */
    max-height: 300px; /* Equal height for images and quote */
  }

  .testimonial-img-container,
  .testimonial-quote {
    flex: 1;
    max-width: none; /* Override max-width */
  }
}
