* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* This ensures that the #root element takes up the full height */
#root {
  width: 100%;
  height: 100%;
}

/* This styles the .App class to take up the full height of the viewport */
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
